h3.tittle-w3layouts {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.15);
    font-size: 40px;
    font-weight: 100;
    position: relative;
    color: #4a4a4a;
}

h3.tittle-w3layouts:before {
    content: "";
    background: #aba9a9;
    width: 70px;
    height: 2px;
    position: absolute;
    bottom: -20px;
    left: 0;
}

h4.sub-tittle-w3layouts {
    color: rgb(88, 189, 248);
    font-size: 20px;
}

p.para-text {
    color: rgb(51, 51, 51);
    font-size: 18px;
}

.who-left-w3pvt {
    padding: 1em 10em 0 6em !important;
}

h3.w3ls-title {
    font-size: 40px;
}

h3.w3ls-title span {
    display: block;
    font-size: 17px;
    color: rgb(88, 189, 248);
    font-weight: 400;
}

.services-w3ls-grid-2 i {
    color: #ffcd30;
    font-size: 48px;
}

.services-w3ls-grid-2 h4 {
    font-size: 20px;
    padding: 0 1em;
    line-height: 1.5;
}

.agile_stats {
    background: url(../../Assets/slide1.jpg) no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */

.counter {
	background-color: #ffffff;
	padding: 20px 0;
	border-radius: 5px;
}

.count-title {
	font-size: 40px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.count-text {
	font-size: 13px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0;
	text-align: center;
}

.counter i {
	margin: 0 auto;
	float: none;
	display: table;
	color: #4ad1e5;
}

/*-=-=-=-=-=-=-=-=-=-=-=- */



html,
body {
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    overflow-x: hidden;
    background: #fff;
}

body a {
    transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -ms-transition: 0.5s all ease;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

p {
    line-height: 1.8;
    font-size: 1em;
    color: #333;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

body a:hover {
    text-decoration: none;
}











h3.stat-title {
    color: #fff;
    letter-spacing: 4.5px;
    font-size: 2.8em;
    line-height: 25px;
}

.counter i {
    color: #bed0e9;
}

p.count-text {
    color: #fff;
}

.timer {
    font-size: 2em;
    color: #fff;
}

.w3l-thead {
    background: #007bff;
}

.counter {
    background: rgba(16, 16, 16, 0.3);
}
/*--------------------------------*/
/*-----Team-------*/
.team{
    padding:75px 0;
    background: url(../../Assets/slide11.jpg) no-repeat;
    background-size: cover;
    min-height: 500px;
    background-attachment: fixed;

}
.title {
    font-size: 50px;
    text-align: center;
    color: #000;
    margin-bottom: 37px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;

}
.clr {
    color: black;
    text-shadow: 1px 1px 1px #000;
    font-weight: bold;
}
h6.description{
	font-weight: bold;
	letter-spacing: 2px;
	color: #999;
	border-bottom: 1px solid rgba(0, 0, 0,0.1);
	padding-bottom: 5px;
}
.profile ul li h4 {
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}
.profile ul li h6 {
    font-size: 16px;
    margin-top: 8px;
    color: #03ff0e;
}
.profile .img-box{
	opacity: 1;
	display: block;
	position: relative;
}
.profile .img-box:after{
	content:"";
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	bottom: 0;
}
.img-box ul {
    position: absolute;
    z-index: 2;
    top: 122px;
    text-align: center;
    width: 100%;
    padding-left: 0px;
    height: 0px;
    margin: 0px;
    opacity: 0;
}
.profile .img-box:after, .img-box ul, .img-box ul li{
	-webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box ul li {
    display: block;
}
.img-box:hover:after{
	opacity: 1;
}
.img-box:hover ul {
    opacity: 1;
    margin-bottom: 15px;
}
.img-box ul a{
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
.img-box a:hover li {
    border-color: #fff;
    color: #ff5722;
}
.img-box img {
    width: 100%;
}
.profile {
    padding: 0px;
}
/*--------------------*/
/*-----Contact-------*/
.contact{
	padding:5em 0em;
}
.agile-contact-grids h3 {
    text-align: center;
    font-size: 45px;
    color: #000;
    margin: 0em 0 1em;
    font-weight: 600;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.address-grid h4,.contact-form h4,.agileits-map h4{
    color:rgba(255, 0, 0, 0.94);
    font-size: 2em;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.contact-form {
    padding: 3em;
    background-color: rgba(0, 0, 0, 0.8);
}
.contact-form h4{
	margin-bottom:2em;
}
.styled-input.agile-styled-input-top {
    margin-top: 0;
} 
.contact input[type="text"],.contact input[type="email"],.contact textarea{
    font-size: .9em;
    color: #fff;
    padding: 1.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 2px solid #fff;
    background: none;
    -webkit-appearance: none;
	outline: none;
	letter-spacing:1px;
	box-sizing:border-box;
}
.contact textarea { 
	min-height: 10em;
    resize: none;
} 
/*--------footer-------*/
.list {
    display: -ms-flexbox;
display: flex;
display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
-ms-flex-wrap: wrap;
    flex-wrap: wrap;
  justify-content: space-between;
  -ms-flex-pack: justify;
  -ms-flex-pack: space-between;
  margin-bottom: 3%;
  letter-spacing: 1px;
  font-size: 16px;
}
.wthree_fl a {
  font-size: 30px;
}
.list a {
  margin: 20px 0px;
  margin-left: 0;
  display: inline-block;
  color: #fff;
}
.wthree_fc {
  text-align: center;
}
.wthree_fc h6 {
  font-size: 15px;
  margin-bottom: 15px;
  letter-spacing: 2px;
  color: #fff;
  font-weight: 600;
}
.wthree_fr {
  text-align: right;
}
.wthree_fr a {
  font-size: 15px;
  text-align: right;
 
}
.list ul li {
  list-style-type: none;
}
.list li {
  margin: 15px 0px;
}
.footer {
  padding: 30px 0px;
  background: black;
  color: white;
}
.wthree_fl h6 {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}

SocialIcon{
    margin: "20px" ;
}





/* -- Responsive code -- */

@media screen and (max-width: 1080px) {
    .agileits-services-grids h4 {
        font-size: 1.3em;
    }
    .agileits-services-grids span {
        font-size: 4em;
    }
    h3.stat-title {
        letter-spacing: 2.5px;
        font-size: 2.6em;
    }
    .agile-pricegrid h5 {
        font-size: 2.5em;
    }
    h5.agile-title {
        font-size: 2.5em;
    }
}

@media screen and (max-width: 991px) {
    .btn-info {
        margin: 10px auto;
        display: block;
    }
    .banner {
        height: 47vw;
    }
    .slider-info h3 {
        font-size: 4.5vw;
    }
    h1.ab-title {
        font-size: 2.3em;
    }
    .timer {
        font-size: 1.8em;
    }
    h5.agile-title {
        font-size: 2.3em;
    }
	.navbar-nav .dropdown-menu{
		text-align:center;
	}
}

@media screen and (max-width: 900px) {
    h3.agile-title {
        font-size: 2.8em;
        letter-spacing: 1px;
    }
}

@media screen and (max-width: 800px) {
    .slider-info h3 {
        font-size: 2.8em;
    }
    .banner {
        height: 54vw;
    }
    h3.stat-title {
        letter-spacing: 2px;
        font-size: 2.4em;
    }
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 736px) {
    .slider-info h3 {
        line-height: 1.3;
    }
    .lead {
        font-size: 1.1rem;
    }
    .callbacks_tabs li {
        margin: 0;
    }
    .slider-info h3 {
        font-size: 2.5em;
    }
    ul.callbacks_tabs {
        bottom: -40px;
    }
    h1.ab-title {
        font-size: 2em;
    }
    h3.w3ls-title {
        font-size: 2.5em;
    }
    h5.agile-title {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 667px) {
    .banner {
        height: 425px;
    }
    .footerv2-w3ls ul.social-iconsv2 li a i.fab {
        font-size: 17px;
        line-height: 33px;
        width: 32px;
        height: 32px;
    }
    h3.agile-title {
        font-size: 2.3em;
    }
}

@media screen and (max-width: 640px) {
    .about-w3ls .jumbotron {
        padding-left: 0;
        padding-right: 0;
    }
    .slider-info h3 {
        font-size: 2.3em;
    }
    .agile-pricegrid h5 {
        font-size: 2.3em;
    }
    h3.stat-title {
        letter-spacing: 2px;
        font-size: 2.2em;
    }
    h3.w3ls-title {
        font-size: 2.2em;
    }
    .bg-price h4 {
        font-size: 1.8em;
    }   
    .agile-pricegrid h5 {
        font-size: 2.1em;
    } 
}

@media screen and (max-width: 600px) {
    h3.agile-title {
        font-size: 2.1em;
    }
    h5.agile-title {
        font-size: 1.6em;
    }
    h1.ab-title {
        font-size: 1.8em;
    }
}

@media screen and (max-width: 568px) {
    .slider-info h3 {
        font-size: 2.3em;
    }
    h3.stat-title {
        letter-spacing: 1.5px;
        font-size: 2.2em;
    }
    h3.agile-title {
        font-size: 1.8em;
    }
    a.serv_link {
        font-size: 0.85em;
    }
    h3.stat-title {
        letter-spacing: 1px;
        font-size: 1.9em;
    }
    h5.agile-title {
        font-size: 1.5em;
    }
    h5.modal-title {
        font-size: 1.3em;
    }
}

@media screen and (max-width: 480px) {
    ul.callbacks_tabs {
        left: 43%;
    }
    .banner {
        height: 380px;
    }
    .slider-info h3 {
        font-size: 2.1em;
    }
    section#pricing {
        background: transparent;
    }
    h5.agile-title {
        font-size: 1.5em;
    }
    .cpy-right p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 414px) {
    h1.ab-title {
        font-size: 1.6em;
    }
    .lead {
        font-size: 1rem;
    }
    h3.w3ls-title {
        font-size: 2.1em;
    }
    .slider-info h3 {
        font-size: 1.8em;
    }
    div#services {
        background: transparent;
    }
    h3.stat-title {
        line-height: 1.3;
        font-size: 2em;
        letter-spacing: 0.5px;
    }
    .bg-price h4 {
        font-size: 1.8em;
    }
    h5.agile-title {
        font-size: 1.3em;
    }
    .slide-bg p {
        letter-spacing: 0.5px;
        font-size: 0.9em;
    }
    .agileits-services-grids span {
        font-size: 3.5em;
    }
}

@media screen and (max-width: 384px) {
    h3.stat-title {
        font-size: 1.8em;
    }
    h5.agile-title {
        letter-spacing: 1px;
    }
    .col-4.gal-w3l {
        max-width: 100%;
        flex: 100%;
    }
}

@media screen and (max-width: 375px) {
    h5.agile-title {
        font-size: 1.2em;
    }
    h3.stat-title {
        font-size: 1.7em;
    }
}

@media screen and (max-width: 320px) {
    h3.w3ls-title {
        font-size: 2.3em;
    }
    h3.stat-title {
        font-size: 1.4em;
    }
    h3.agile-title {
        font-size: 1.8em;
    }
    h5.agile-title {
        font-size: 1.02em;
    }
    .contact-top1 .form-group label, form.f-color .form-control {
        font-size: 0.9em;
    }
      
}

/* -- //Responsive code -- */

/* -- Responsive code -- */
